# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
.m2/
log/
target/
.xmlresolver.org/

# Sonar
.sonar/

# Python
**/__pycache__

# Dir for local tests
out/
